<div class="products-container">
  <div class="product-card" *ngFor="let product of products">
    <a [href]="product.link" target="_blank">
      <img [src]="product.image"  class="main-image">
    </a>

    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>Rating:</strong> {{ product.rating }}</p>
    <p><strong>Price:</strong> {{ product.price }}<span> ₸</span></p>
    <!-- <p><strong>Category:</strong> {{ product.category }}</p> -->

    <div class="gallery">
      <div class="gallery-item"  *ngFor="let img of product.gallery">
        <img [src]="img" (click)="on(product, img)">
      </div>
    </div>

    <div class="share-buttons">
      <button (click)="shareViaWhatsApp(product)" class="wpbutton">WhatsApp <span><img src="C:\Users\user\Desktop\web-dev\Lab 4\angular\first\FApp\public\whatsapp.png"  class="icon"></span></button>
      <button (click)="shareViaTelegram(product)" class = "tgbutton">Telegram <span><img src="C:\Users\user\Desktop\web-dev\Lab 4\angular\first\FApp\public\telegram.png"  class="icon"></span></button>
    </div>
    <div class ="buy-button">
      <button (click)="buyProduct(product)" class="buy">Buy</button>
    </div>
    <!-- <div class="icons-container">
      <img src="https://www.flaticon.com/free-icons/telegram" alt="Telegram" class="icon">
      <img src="//www.flaticon.com/free-icons/whatsapp" alt="WhatsApp" class="icon">
    </div> -->
    
  </div>
</div>
