
/* src/app/products/products.component.css */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

.product-card h2 {
  margin-top: 10px;
  font-size: 1.3em;
}

.product-card p {
  margin: 5px 0;
  height: 40px;
}

.main-image {
  width: 100%;
  border-radius: 4px;
  height: 400px;
  object-fit: scale-down;
}

.gallery {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.gallery-item img {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
  border-radius: 4px;
}

img.gallery-item{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.share-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.tgbutton {
  background-color: #007bff;
  border: none;
  padding: 8px 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tgbutton:hover{
  background-color: #0056b3;
}
.wpbutton {
  background-color: lightgreen;
  border: none;
  padding: 8px 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wpbutton:hover{
  background-color: rgb(0, 210, 0);
}

